:root {
  --border-radius: 12px;
  --primary-color: #f1a5b1;
  --dark-color: #0b0a0a;
  --light-color: hsl(0, 0%, 100%);
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-image: url("./images/background.png?v=1");
  background-repeat: no-repeat;
  background-size: cover;
}
